<div class="flower page-contents" id="music-descr">
	<p class="first-p">Page in progress.</p>
	<p>Here's a clip from Jan. 2017 of me practicing Liszt's S.141 No.3 in G# minor:</p>
	<video class="music-video" controls>
		<source src="static/videos/lacampanella.mp4" type="video/mp4">
		<source src="static/videos/lacampanella.ogg" type="video/ogg">
		Your browser does not support video-players.
	</video>
	<p>Beethoven's Sonata 14 mvt. 3:</p>
	<video class="music-video" controls>
		<source src="static/videos/beethoven_ml3.mp4" type="video/mp4">
		<source src="static/videos/beethoven_ml3.ogg" type="video/ogg">
		Your browser does not support video-players.
	</video>
</div>