<nav class="slider" id="mid-nav">
    <ul class = "slider__items flex-container">
     	<div class="flex-item slider__item">
     		<a class="flex-bubble" id="writing" href="#"></a>
     		<a class="flex-text flower" id="writing-text" href="#">WRITING</a>
     	</div>
		<div class="flex-item slider__item">
			<a class="flex-bubble" id="music" href="#"></a>
			<a class="flex-text flower" id="music-text" href="#">MUSIC</a>
		</div>
		<div class="flex-item slider__item">
			<a class="flex-bubble" id="portfolio" href="#"></a>
			<a class="flex-text flower" id="port-text" href="#">PORTFOLIO</a>
		</div>
		<div class="flex-item slider__item">
			<a class="flex-bubble" id="about" href="#"></a>
			<a class="flex-text flower" id="about-text" href="#">ABOUT ME</a>
		</div>
		<div class= "slider__item" id="list-controller">
			<a class="flower" id="explore" role="button" tabindex="0">Click Me</a>
		</div>
    </ul>
</nav>

<div class="box1"></div>

<script type="module" src="/static/scripts/script.js"></script>